*{
  padding: 0;
  margin: 0;
}

.audio-player-section{
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#progress-bar{
  height: 5px;
  width: 300px;
  background-color: #ccc;
  border-radius:2px;
}
#progress{
  height: 5px;
  width: 0;
  background-color: #25cf52;
  border-radius: 2px;
}

.audio-player-wrapper{
  padding: 40px;
  background-color: rgb(255, 255, 255, 0.2);
  width: calc(50% - 80px);
  height: calc(60vh - 100px);
  transform: translate(50%,50%);
  border-radius: 12px;
}


.btn-btn {
  color: white;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(94, 247, 94);
  padding:10px 20px;
  border: 0;
  margin:10px;
  text-align:center;
  cursor:pointer;
  border-radius: 20px;
  box-shadow: 0 0  8px red;
}

